@import "typography", "variable";

.article {
  width: 90%;
  margin: 20% auto;

  .article__header {
    margin: 5% 0 10%;

    h1 {
      padding-bottom: 10px;
    }

    &--flex {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;

      p {
        font-size: $font-size-p - 2;
        font-weight: $font-weight-extraLight;
      }

      .category-icon {
        width: 5%;
        margin-left: 2%;
      }
    }
  }

  .article__main {
    .article-h2 {
      display: inline-block;
      font-size: $font-size-h2;
      font-weight: $font-weight-regular;
      background: linear-gradient(transparent 80%, $header-highlight 80%);
      padding-bottom: 2%;
      margin-bottom: 3%;
    }
    .article-sentence {
      font-weight: $font-weight-light;
      line-height: 2;
    }
  }

  .article__footer {
    margin: 20% 0;
    border-top: $frame;
    padding-top: 5%;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &--flex {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      width: 80%;
    }

    .prev img {
      width: 10%;
      margin-right: 5%;
    }

    .next {
      text-align: right;
      margin-left: auto;

      img {
        width: 10%;
        margin-left: 5%;
      }
    }

    a {
      color: $black;
    }
  }
}

@include pcSize {
  .article__img--top {
    img {
      width: 870px;
      height: 520px;
      object-fit: cover;
    }

    .article__header {
      .category-icon {
        width: 3%;
      }
    }
  }
}
