@import "typography", "variable";

.article {
  width: 90%;
  margin: 20% auto;

  .article__header {
    margin: 5% 0 10%;

    h1 {
      padding-bottom: 10px;
    }

    &--flex {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;

      p {
        font-size: $font-size-p - 2;
        font-weight: $font-weight-extraLight;
      }

      .category-icon {
        width: 5%;
        margin-left: 2%;
      }
    }
  }

  .article__main {
    p.article-sentence {
      font-size: $font-weight-normal;
      line-height: 2;
    }
  }

  .article__footer {
    margin: 20% 0;
    border-top: $frame;
    padding-top: 5%;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &--flex {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      width: 80%;
      text-align: left;
    }

    .prev img {
      width: 20%;
      margin-right: 5%;
    }

    .next {
      margin-left: auto;

      img {
        width: 20%;
        margin-left: 5%;
      }
    }

    a {
      color: $black;
    }
  }
}

@include pcSize {
  .article {
    img {
      width: 100%;
    }

    .article__header {
      .category-icon {
        width: 3%;
      }
    }
  }
}
