@import "variable", "mixin";

.category {
  margin: 20% auto;
  padding: 10%;
  text-align: left;

  a {
    color: $black;
  }

  &__items {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 8%;

    img {
      width: 10%;
    }

    &::after {
      @include underLine;
      margin-top: 3%;
    }
  }
}

@include pcSize {
  .category {
    margin: 10% auto;

    &__items img {
      width: 5%;
    }
  }
}