@import "variable", "typography";

.intro {
  margin: 15% 0;

  .intro-icon {
    position: relative;
    text-align: center;

    img {
      display: inline-block;
      width: 10%;
      height: auto;
    }

    &::before {
      @include lines;
      left: 0;
    }

    &::after {
      @include lines;
      right: 0;
    }
  }

  .intro-flex {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 50px 0;

    img {
      width: 25%;
      height: 80px;
      object-fit: cover;
      object-position: 0 20%;
      border: $frame;
    }

    p {
      display: inline-block;
      width: 70%;
      font-weight: $font-weight-light;
      line-height: 1.5;
      margin-left: 5%;
    }
  }
}

@include pcSize {
  .intro {
    .intro-icon img {
      width: 5%;
    }

    .intro-flex img {
      width: 10%;
    }
  }
}