//common color
$white: #FFFFFF;
$black: #5F5F5F;
$red: #B4061F;
$gray-frame: #E6E6E6;
$gray-bg: #FAFAFA;
$header-highlight: rgba(232, 80, 30, .5);
$header-highlight-sub:rgba(255, 226, 89, .5);

//gradient
$yellow: #FFE259;
$orange: #FFA751;

$frame: 1px solid $gray-frame;